<div class="content-block">
  <div class="page-heading">
    <h2>
      <span [routerLink]="[ '/pages/datagrid' ]" class="goBack"><img src="./assets/img/arrow-left.svg"
          alt="logo" /></span>
      {{editData ? 'Edit' : 'Create'}} Order
    </h2>
  </div>
</div>
<div class="content-block dx-card responsive-paddings">
  <form class="login-form" (submit)="onSubmit($event)">
    <dx-form [formData]="overObj" [disabled]="loading" [colCount]="2">

      <dxi-item dataField="OrderId" [editorOptions]="{  readOnly: editData?true:false }">
        <dxi-validation-rule type="required" message="OrderId is required"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="CustomerID">
        <dxi-validation-rule type="required" message="CustomerID is required"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="EmployeeID">
        <dxi-validation-rule type="required" message="EmployeeID is required"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="Freight">
        <dxi-validation-rule type="required" message="Freight is required"></dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="OrderDate" editorType="dxDateBox" [editorOptions]="{ 
                    invalidDateMessage: 'The date must have the following format: MM/dd/yyyy' }">
        <dxo-label text="Order Date">
        </dxo-label>
        <dxi-validation-rule type="required" message="Order Date is required">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="ShipAddress"> </dxi-item>
      <dxi-item dataField="ShipCity"> </dxi-item>
      <dxi-item dataField="ShipCountry" editorType="dxSelectBox"
        [editorOptions]="{ items: ShipCountryOptions, searchEnabled: true  }">
        <dxi-validation-rule type="required" message="Ship Country is required"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="ShipName">
        <dxi-validation-rule type="required" message="ShipName is required"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="ShipPostalCode">
        <dxi-validation-rule type="required" message="ShipPostalCode is required"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="ShipRegion">
        <dxi-validation-rule type="required" message="ShipRegion is required"></dxi-validation-rule>
      </dxi-item>

      <dxi-item [colSpan]="2"></dxi-item>
      <dxi-item itemType="button" horizontalAlignment="left" [buttonOptions]="buttonOptions" [colSpan]="2">
      </dxi-item>

    </dx-form>
  </form>

</div>
