 <div class="content-block">
   <div class="page-heading">
     <h2>Order List</h2>
     <a [routerLink]="['/pages/detail']" class="button">Create Order</a>
   </div>
 </div>

 <dx-data-grid id="gridContainer" #grid [dataSource]="dataSource" [customizeColumns]="customizeColumns"
   [showBorders]="true" [showColumnLines]="true" [rowAlternationEnabled]="true">

   <!-- Datas -->
   <!-- <dxi-column dataField="OrderId" caption="Order Id" [groupIndex]="0"></dxi-column> -->
   <dxi-column dataField="OrderId" caption="Order Id" [width]="100"></dxi-column>
   <dxi-column dataField="CustomerID" caption="Customer ID"></dxi-column>
   <dxi-column dataField="Freight" [width]="100"></dxi-column>
   <dxi-column dataField="OrderDate" caption="Order Date" dataType="date"></dxi-column>
   <dxi-column dataField="ShipCountry" caption="Ship Country"></dxi-column>
   <dxi-column caption='Manage Records' cellTemplate="cellTemplate" [width]="120"></dxi-column>

   <div *dxTemplate="let cell of 'cellTemplate'">
     <span (click)='editData(cell)' class="commandButton"><i class="dx-icon-edit"></i></span>
     <span (click)='deleteData(cell)' class="commandButton"><i class="dx-icon-trash"></i></span>
   </div>

   <!-- Pagination -->
   <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
   <dxo-paging [pageSize]="5"> </dxo-paging>
   <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
     [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo" [showNavigationButtons]="showNavButtons">
   </dxo-pager>

   <!-- sorting -->
   <!-- <dxo-sorting mode="multiple"></dxo-sorting> -->

   <!-- filter -->
   <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row>
   <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>

   <!-- search -->
   <!-- <dxo-search-panel [visible]="true"></dxo-search-panel> -->

   <!-- grouping -->
   <dxo-group-panel [visible]="true"></dxo-group-panel>
   <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>

   <!-- export -->
   <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
 </dx-data-grid>
