 <div class="content-block">
   <div class="page-heading">
     <h2>Pivot View</h2>
     <a [routerLink]="['/pages/detail']" class="button">Create Order</a>
   </div>
 </div>
 <div class="content-block">
   <div id="pivotgrid-demo">
     <dx-chart id="sales-chart">
       <dxo-export [enabled]="true"></dxo-export>
       <dxo-legend [visible]="false"> </dxo-legend>
       <dxo-common-series-settings type="bar" hoverMode="allArgumentPoints" selectionMode="allArgumentPoints">
         <dxo-label [visible]="true" [format]="{
                type: 'fixedPoint',
                precision: '0'
            }">
         </dxo-label>
       </dxo-common-series-settings>
       <dxo-size [height]="200"></dxo-size>
       <dxo-adaptive-layout [width]="450"></dxo-adaptive-layout>
       <dxo-tooltip [enabled]="true" format="currency" [customizeTooltip]="customizeTooltip"></dxo-tooltip>
     </dx-chart>


     <dx-pivot-grid id="pivotgrid" [allowSortingBySummary]="true" [allowFiltering]="true" [showBorders]="true"
       [allowSortingBySummary]="true" [showColumnGrandTotals]="false" [showRowGrandTotals]="false"
       [showRowTotals]="false" [showColumnTotals]="false" [dataSource]="pivotGridDataSource"
       [showTotalsPrior]="showTotalsPrior ? 'both' : 'none'" [dataFieldArea]="rowsDataFieldArea ? 'row' : 'column'"
       [rowHeaderLayout]="treeHeaderLayout ? 'tree' : 'standard'" [wordWrapEnabled]="false"
       (onCellClick)="onPivotCellClick($event)">

       <dxo-field-chooser [enabled]="true" [height]="400"></dxo-field-chooser>
       <dxo-scrolling mode="virtual"></dxo-scrolling>
       <dxo-field-panel [showDataFields]="true" [showRowFields]="true" [showColumnFields]="true"
         [showFilterFields]="true" [allowFieldDragging]="true" [visible]="true">
       </dxo-field-panel>
       <dxo-export [enabled]="true"></dxo-export>

     </dx-pivot-grid>

     <!-- <dx-popup [(visible)]="salesPopupVisible" [title]="salesPopupTitle" [width]="600" [height]="400"
       (onShown)="onPopupShown()">
       <div *dxTemplate="let data of 'content'">
         <dx-data-grid #drillDownDataGrid [width]="560" [height]="300" [dataSource]="drillDownDataSource"
           [columns]="['CustomerID', 'ShipCountry', 'OrderDate', 'Freight']">
         </dx-data-grid>
       </div>
     </dx-popup> -->
   </div>
 </div>
