.commandButton {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;

  i {
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
  }

  &:hover {
    i {
      color: #e3165b;
    }
  }
}

.page-heading {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: 18px;
    margin: 0;
    font-weight: 500;

    img {
      vertical-align: middle;
    }
  }
}

.goBack {
  cursor: pointer;
  margin-right: 10px;
}

/*==========================================================================
=> Custom Grid
==========================================================================*/
/* Grid */
.f-row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
}

.f-col {
  padding: 0 15px;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.w33 {
  width: 33%;
}

.w16 {
  width: 16.666666%;
}
